<h2 align="Center"><%=@user.username%>'s profile</h2>
<br>
<%if logged_in?%>
	<%=link_to "Log out", logout_path, method: :delete%>
<%end%>
<br>
<%=link_to "Edit user", edit_user_path%>
<br>
<h2>Articles</h2>

<%=render 'articles/article'%>